<p>Player name: @Model.GetName()</p>
<p>Turn player: @Model.IsTurnPlayer()</p>
<h3>Player hand:</h3>
@foreach(var card in @Model.GetHand())
{
  <li>@card</li>
}
<p>Deck:</p>
@foreach(var card in @Model.GetDeck())
{
  <li>@card</li>
}
